<a name="benefits"></a>
      <div id="benefits">
        <h2>Benefits of using Permissioner to authenticate your users</h2>
        <ul>
          <li>
            <h3>No password management</h3>
            <p>Free yourself from the burden of securly managing passwords. No salting, hashing, storing, resetting and changing of passwords necessary.</p>
          </li>
          <li>
            <h3>No passwords to steal</h3>
            <p>You don't need a password database at all. That means, you never have to worry about being the target of a hacker trying to steal your users passwords. You simultaniously render password phishing attacks impossible, protecting your users in the process.</p>
          </li>
          <li>
            <h3>Easy to integrate</h3>
            <p>It just takes a few simple steps. See the <%= link_to 'Documentation', documentation_path %> to learn how to do it. If you want to replace the conventional user authentication process in an existing app / website, you additionally have to remove everything password related, like your password database and the password field in your Sign In interface.</p>
          </li>
          <li>
            <h3>Simplified Sign Up / Sign In</h3>
            <p>You don't need an extra sign up process for new users: if a user signs in, he / she automatically has to verify his / her email address.</p>
          </li>
          <li>
            <h3>Get more users to try your app / website</h3>
            <p>Many users feel hesitant to sign up for an unknown app / website just to try it out. Most users will reuse one of their few, easy to remember passwords when they sign up for a new service. Giving another app / website access to one of these passwords makes many users feel uneasy and maybe even prevent them from using it at all. Therefore, you might get more users to try out your app / website, if they don't have to enter a password.</p>
          </li>
          <li>
            <h3>Advanced user access control</h3>
            <p>Every app / website you add to Permissioner comes with build in access control. You can either allow anyone to sign in by default, but block specific users (Blacklist), or block everyone by default and only grant access to some (Whitelist). Permissioner also supports wildcard email addresses (e. g. *yourcompany.com). This way you are able to restrict access to only your employees.</p>
          </li>
          <li>
            <h3>It's free</h3>
            <p>Using Permissioner to authenticate your users is and will forever be free.</p>
          </li>
        </ul>
      </div>
