<a name="faqs"></a>
      <div id="faqs">
          <h2>FAQs</h2>
          <ul>
            <li>
              <h3>Do my users need a Permissioner account in order to sign into my app?</h3>
              <p>No. All Permissioner needs to authenticate a user is his / her email address, which your app / website provides during the authentication process.</p>
            </li>
            <li>
              <h3>How secure is it? What if a user's email account gets hacked?</h3>
              <p>Permissioner is more secure than the classic password based authentication process. It uses pretty much the same mechanics, but replaces weak user generated passwords with secure, randomly generated keys. The <%= link_to 'How It Works', how_it_works_path %> page explains it in more detail.</p>
              <p>If a user's email account would be hacked, the attacker could sign into your app / website pretending to be this particular user. But the same is also true for the password based authentication. A hacker who has access to the user's email account, could simply reset the user's password and gain access to his / her account this way.</p>
            </li>
            <li>
              <h3>What are the benefits of using Permissioner over Sign In with Google, Facebook, Twitter & Co?</h3>
              <p>Not every user will have one of the accounts your app / website could support. In order not to exclude any users, you would still need to offer the password based sign in mechanics, with all its drawbacks. The costs of implementing multiple sign in alternatives would most definitely exceed the costs of integrating Permissioner. Furthermore, many users feel uncomfortable giving another service access to their Facebook / Google / Twitter account.</p>
            </li>
          </ul>
      </div>
    </div>
