<a name="how-to"></a>
      <div id="how_to_use_it">
        <h2>How to let your users sign in with Permissioner</h2>
        <%= image_tag("how-it-works.png", alt: "How Permissioner's user authentication works") %>
        <ol>
          <li>You integrate Permissioner into your app or website.</li>
          <li>Your users sign in, using only their email addresses.</li>
          <li>Permissioner takes care of the authentication process.</li>
          <li>Permissioner tells you if the user signed in successfully.</li>
        </ol>
        <p>See <%= link_to 'How it works', how_it_works_path %> for a more detailed and technical explanation. See the <%= link_to 'Documentation', documentation_path %> for a complete guide on how to integrate Permissioner into your app / website.</p>
      </div>
